#map{
    width: auto ;
    margin-right: 10px;
    height:81vh ;
    min-height: 700px;


}

#content {
    background: #fff;
    height: 100%;
    overflow:auto;
}

.smallImg{
    padding: 3px;
    height: 70px;
    width: 70px;
}

