#map{
    width: auto ;
    min-width: auto;
    margin-right: 10px;
    height:79vh ;
    min-height: 620px;


}

#content {
    background: #fff;
    height: 100%;
    overflow:auto;
}

.smallImg{
    padding: 3px;
    height: 70px;
    width: 70px;
}

.ant-notification-notice{
    background-color: #5fb9f5;
}

.statistics{
    color: white;
    font-family: Arial;
    font-weight: bold;

}
