.table{
    /*min-height: 82vh;*/
    /*min-height: 900px;*/
    /*max-height: 900px;*/

    width: 95%;
    /*background-color: #bd2c00;*/
    /*height:100%*/
}



.ant-table-title{
    height: 6vh;
    color: blue;
    text-align: center;
    vertical-align: middle;
    /*font-size: ;*/
}



.table thead th{
    height: 6vh;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr{
    /*height: 13.5vh;*/
    /*min-height: 1000px;*/
    /*min-height: 260px;*/

    color: blue;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr td{

    text-align: center;
    vertical-align: middle;
}

.leaderboard_img{
    /*height: 11vh;*/
    /*max-height: 50px;*/
    /*max-width:  50px;*/
    min-width: 70px;
    min-height: 110px;
    height: 31%;

    /*width: 130px;*/
}