.table{
    /*min-height: 82vh;*/
    min-height: 900px;
    max-height: 900px;
    width: 95%;
    /*background-color: #bd2c00;*/
}

/*.row {*/
    /*height: 12vh;*/
    /*color: red;*/
/*}*/

.ant-table-title{
    height: 6vh;
    color: blue;
    text-align: center;
    vertical-align: middle;
}

/*.table thead{*/
    /*height: 6vh;*/
    /*color: red;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/

/*thead[class*="ant-table-thead"] th{*/
    /*background-color: yellow !important;*/
/*}*/

.table thead th{
    height: 6vh;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr{
    /*height: 13.5vh;*/
    /*min-height: 260px;*/
    color: blue;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr td{

    text-align: center;
    vertical-align: middle;
}

.leaderboard_img{
    height: 11vh;
    width: 130px;
}