/*.sidebar{*/
    /*min-width: 200px;*/
    /*width: 400px;*/
/*}*/
.ant-carousel .slick-slide {
    text-align: center;
    height: 500px;
    line-height: 500px;
    background: #364d79;


}

.ant-carousel .slick-slide h3 {
    color: #fff;

}

.carousel {
    margin:0 auto;
    min-width: 800px;
}

.about-content{
    padding-top: 20px;
}

.about-font-heading{
    font-size: 20pt;
    color: black;
    font-weight: bold;
}

.about-font-body{
    font-size: 14pt;
}

.about-profile{
    padding: 10px;
    min-width: 800px;
}

.profile-heading{
    font-size: 15pt;
    color: black;
    font-weight: bold;
}

.profile-text{
    padding-top: 4px;
    font-size: 13pt;
    color: black;
}

.avatar{
    height: 287px;
}

.largeAvatar{
    height: 800px;
    width: 800px;
}

.about-img{
    height: 500px;
    min-width: 800px;
    width: 100%;
    cursor: pointer;
}