.card{
    width: 97%;
    height:30vh;
    margin: 10px;

}

#cardList{
    overflow: auto;
    height: 82vh;
    min-width: 650px;
}


 .ant-back-top {
    bottom: 80px;
     right: 25%;
}

/*.heading {*/
   /*padding: 5px;*/
/*}*/

/*.heading2 {*/
    /*padding-top: 50px;*/
    /*padding-left: 5px;*/
/*}*/



.party-text{
    font-size: 14pt;
    color: black;
}

.title{
    font-size: 18pt;
}

.statistics{
    padding-left: 30px;
    padding-top: 50px;
}