.filters{
    margin: 10px;
}

.select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.search{
    padding-top: 10px;

}

.radio-group{

    width: 100%;
}

.button{
    /*left: 15px;*/
    /*height: 37px;*/
    margin-top: 10px;
    width: 25%;
    min-width: 60px;
}